node_modules
.DS_Store
dist
dist-ssr
*.local
*.lock
.vscode
package-lock.json
pnpm-lock.yaml
coverage
packages/container/jssdk
example/*
!example/subpackages
!example/weui
packages/components/auto-imports.d.ts
