// swift-tools-version: 6.0
import PackageDescription

let package = Package(
    name: "DiminaMapAMap",
    platforms: [.iOS(.v14)],
    products: [.library(name: "DiminaMapAMap", targets: ["DiminaMapAMap"])],
    dependencies: [.package(url: "https://github.com/didi/dimina.git", exact: "@VERSION@")],
    targets: [
        .binaryTarget(name: "MAMapKit", path: "Frameworks/MAMapKit.xcframework"),
        .binaryTarget(name: "AMapFoundationKit", path: "Frameworks/AMapFoundationKit.xcframework"),
        .target(
            name: "DiminaMapAMap",
            dependencies: [
                .product(name: "Dimina", package: "dimina"),
                "MAMapKit", "AMapFoundationKit",
            ],
            resources: [.copy("Resources/AMap.bundle")],
            linkerSettings: [
                .linkedFramework("QuartzCore"), .linkedFramework("CoreLocation"),
                .linkedFramework("SystemConfiguration"), .linkedFramework("CoreTelephony"),
                .linkedFramework("Security"), .linkedFramework("OpenGLES"),
                .linkedFramework("CoreText"), .linkedFramework("CoreGraphics"),
                .linkedFramework("GLKit"), .linkedLibrary("z"), .linkedLibrary("c++"),
            ]
        ),
    ],
    swiftLanguageModes: [.v5]
)
